.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;

  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  background-color: #1892d3;
  color: white;
  grid-row: 1 / 3;
  border: 1px solid black;
  /* height: 100vh; */
  font-weight: 600;
  padding: 0.5rem;
}

.header {
  border: 1px solid yellow;
}

.main-content {
  display: grid;
  grid-column: 2 /3;
  border: 1px solid red;
  background-color: #e1e8f0;

}

body {
  margin: 0;
  padding: 0;
}

.links {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  font-size: smaller;
}

.dashboard {
  margin: 0.5rem;
  display: inline-block;
  padding-left: 35px; /* Adjust the padding as needed to separate the icon from text */
  background: url("assets/svgs/dashboard.svg") left center no-repeat; /* Set the SVG as a background image */
}
.nav-item {
  display: inline-block;
  padding-left: 34px; /* Adjust the padding as needed to separate the icon from text */
  /* Set the SVG as a background image */
}

.home {
  background: url("assets/svgs/home.svg") left center no-repeat;
}

.profile {
  background: url("assets/svgs/profile.svg") left center no-repeat;
}

.message {
  background: url("assets/svgs/message.svg") left center no-repeat;
}

.history {
  background: url("assets/svgs/history.svg") left center no-repeat;
}
.task {
  background: url("assets/svgs/task.svg") left center no-repeat;
}
.community {
  background: url("assets/svgs/community.svg") left center no-repeat;
}
.setting {
  background: url("assets/svgs/setting.svg") left center no-repeat;
}
.help {
  background: url("assets/svgs/help.svg") left center no-repeat;
}

.privacy {
  background: url("assets/svgs/privacy.svg") left center no-repeat;
}

.box {
  width: 40vw;
  height: 4vh;
  background-color: gray;
  border-radius: 20px;
  opacity: 25%;
}
.search-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-photo {
  border-radius: 100%;
  width: 5vh;
  height: 5vh;
}
.profile-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.profile-photo2 {
    border-radius: 100%;
    width: 7.5vh;
    height: 7.5vh;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}

.buttons {
    display: flex;
    gap: 1rem;
    
}

.profile-photo2-wrapper {
    display: flex;
    gap: 1rem;
}

#hi {
    font-weight: bold;
    font-size: smaller;
}

#hi-person,#john-doe {
    font-weight: bold;
}

button {
    background-color: #1892d3;
    width: 6vw;
    padding: 8px;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    font-size: 12px;
}

.flex-container {
  display: flex;
}

.card,.announce,.trending {
  border: 1px solid black;

  
}

.maincontent-container {
  display: grid;
  grid-template-columns: repeat(2,350px);
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;


}

.maincontent-container2 {
  display: grid;
  grid-template-columns: repeat(1,200px);
   padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 3rem;



}